<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieTicketReservation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <ul class="navbar-list">
            <li><a class="logo">ShowBooking</a></li>
            <li>@Html.ActionLink("Home", "", "Home")</li>
            <li>@Html.ActionLink("Movies", "", "Home")</li>
            <li><a href="#contact">Theatre</a></li>
            <li><a href="#about">About</a></li>
            @*@if (Model.firstName.ToString() == null)
            {*@
                <li style="float:right"><a class="login-trigger" href="#" data-target="#login" data-toggle="modal">Login</a></li>

            @*}
            else
            {
                <li>Weclome @Model.firstName </li>
            }*@    

            <li style="float:right">
                <div class="searchBar">
                    <input type="text" class="searchInput" placeholder="Search Here" />
                    <button type="submit" class="searchButton">Search</button>
                </div>
            </li>
        </ul>
        <hr />

        <div id="login" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-body">
                        <button data-dismiss="modal" class="close">&times;</button>
                        <h4 style="color:white">Login</h4>
                        <form>
                            <input type="text" name="username" class="username form-control" placeholder="Username" required/>
                            <input type="password" name="password" class="password form-control" placeholder="Password" required/>
                            <label style="color:white">Don't have an account? <a id ="signupButton" href="#" data-target="#SignUp" data-toggle="modal">Sign Up here</a></label><br />
                            <input class="btn login" type="submit" value="Login" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="SignUp" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-body">
                        <button data-dismiss="modal" class="close">&times;</button>
                        <h4 style="color:white">Sign Up!</h4>
                        <form action="Home/SaveUserData" method="post">
                            <input type="text" name="firstName" class="username form-control" placeholder="First Name" value="" required/>
                            <input type="text" name="lastName" class="username form-control" placeholder="Last Name" value="" required/>
                            <input type="text" name="Email" class="username form-control" placeholder="Email" value=""/>
                            <input type="password" name="Password" class="password form-control" placeholder="Password" value="" required/>
                            <label style="color:white">Already have an account? <a id="LoginButton" href="#" data-target="#login" data-toggle="modal">  Login here</a></label><br />
                            <input class="btn login" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieTicketReservation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $('#signupButton').click(function () {
            $('#login').modal("hide");
        })
        $('#LoginButton').click(function () {
            $('#SignUp').modal("hide");
        })
    </script>
</body>
</html>
